@mixin fadeIn($time: 300ms) {
  animation: fadein $time;
}

@mixin rotate($time: 300ms) {
  animation: rotate $time linear infinite;
}

@keyframes fadein {

  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
