@import "variables";
@import "mixins";

.header {
  height: auto;
  padding: 1rem;
  box-sizing: border-box;

  &__title {
    margin-bottom: 1rem;
  }
}

.main {
  display: flex;
  padding: 0 20%;
  box-sizing: border-box;
  height: calc(100vh - 240px);
  overflow: auto;

  app-country-list {
    width: 100%;
  }
}

.footer {
  height: 104px;
  padding: 1rem;
  box-sizing: border-box;

  &__creator {
    font-size: $font-size-20;
  }
}


@media only screen and (max-width: 767px) {

  .header {
    &__title {
      font-size: $font-size-20;
      font-weight: normal;
    }
  }
  .main {
    padding: 0 2%;
    height: calc(100vh - 185px);
  }

  .footer {
    height: 70px;
  }
}
